
/* MAIN DINA CSS SETTINGS GO HERE */

body {
    background-image: url("../img/bg.png");
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

#kc-page-title {
    text-align: center;
}
.card-pf {
    width: 450px;
    margin: auto;
}

#kc-logo {
    display: none;
}


#kc-header {
    margin: -10px -10px 0 -10px;
    padding: 20px 40px;
}

#kc-header-wrapper {/*Content of this is customizable through Keycloak admin console*/
    background: top no-repeat url("../img/logo-170.png");
height: 61px;
line-height: 155px;
margin-bottom: 10px;
font-size: 22px;
color: white;
text-align: center;
}
.login-pf-header h1 {
    color:white ;
}

.kc-logo-text span { /*This is customizable through Keycloak admin console*/
/*    display: none;*/
    margin-left: 200px;
    font-size: 24pt;
    position: relative;
    top: 5px;
}
    
#kc-content {
    padding: 20px 40px;
    /* color: white; */
    background: #ffffff1f;
    border: solid 1px #fff3;
}

.navbar-main ul.navbar-utility  {/*Sign out etc*/
    list-style-type: none;
    float: right;
    position: absolute;
    top: 0;
    margin-left: 0;
    padding-left: 0;
    right: 40px;
}

.navbar-main ul.navbar-utility li  {
    float: left;
    margin-left: 0.3em;
}

.navbar-main ul.navbar-utility li::after {
    content: " |";    
}

/*Sign out*/
.navbar-main ul.navbar-utility li:last-child {
    font-weight: bold;
}

.navbar-main ul.navbar-utility li:last-child::after {
    content: "";
}

.alert {
    color: #f2f2f2;
    font-size: initial;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #f9a946d6;
    border: 1px solid #deb7298c;
}

.alert-warning {
    color: #fff;
    padding: 5px;
    background-color: #f96c46;
    border: 2px solid #f96c46;
}

.alert-success {
    color: #fff;
    padding: 5px;
    background-color: #1e8c45;
    border: 2px solid #1e8c45;
}

#kc-form-options { /*forgot password -link*/
    margin-bottom: 12px;

}

.form-group {
    margin: 7px 4px;
    padding: 9px;
    border-radius: 0px;
    /* border: solid 1px #ff7f5070; */
    /* background: #ff980063; */
}
.form-group span {
    display: block;
    text-align: center;
}
.form-group .form-control{
    background: #9c9c9c9e;
    border: solid 1px #868686;
    padding: 10px 2%;
    margin: 7px  0;
    float: right;
    color: white;
    width: 96%;
    font-size: 17px;
    border-radius: 3px;
}
.form-group label{
    color: #ffffff;
    font-size: 17px;
}

#kc-info {
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

a:link {
    color: #FF9800;
}

a:visited {
    color: #FFC107;
}

.btn {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 14pt;
}

/*DINA green*/
.btn-primary {
    background-color: #FF9800;
    color: white;
    border: 1px solid #FF9800;
    width: 100%;
    border-radius: 3px;
}
/*Bright blue*/
/*
.btn-primary {
    background-color: #0000FF;
    color: white;
    border: 1px solid #0000CC;
}
*/
.btn-default {
    background-color: #F96C46;
    color: white;
    border: 1px solid #C63913;
    margin-left: 2em;
}


.required {
    color: red;
    font-weight: bold;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table td {
    border: 1px solid #ddd;
    padding: 5px;
}

table thead td {
    background-color: #fafafa;
    border-bottom: 5px solid #ddd;
}

.bs-sidebar a,
.navbar a {
    text-decoration: none !important;
}
